@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: "wanpaku-ruika", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #fff;
}

#main {
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
    position: relative;
    overflow: hidden;
}

/* 中央テキスト */
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    line-height: 1.7;
    padding: 0 24px;
    width: 650px;
    margin-top: 20px;
}

.box .explanation {
    font-size: 26px;
    letter-spacing: 0.06em;
    margin-bottom: 12px;
    line-height: 1.7;
}
.welcome {
    margin: 0;
    font-size: 36px;
    margin-bottom: 12px;
}

.highlight {
    line-height: 1.1;
}
.highlight .label {
    font-size: 40px;
    letter-spacing: 0.05em;
    margin: 5px;
    color: #333;
}

.highlight .number {
    font-size: 160px;
    margin: 5px;
    font-weight: 900;
    color: #333;
}

/* 惑星 */
.planet {
    position: absolute;
    top: 50%;
    left: 48%;
    width: 900px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* ハート */
.heart {
    position: absolute;
    top: 60px;
    left: 6%;
    width: 200px;
    z-index: 2;
    animation: float1 4s ease-in-out infinite;
}

/* 女の子 */
.girl {
    position: absolute;
    bottom: 50px;
    right: 2%;
    width: 320px;
    z-index: 2;
    animation: float2 5s ease-in-out infinite;
}

/* アニメーション */
@keyframes float1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
